<!DOCTYPE html>
<!--   -->
<html>
  <head>
    <title>Ajax</title>
    <meta charset="utf-8"/>
    <style type="text/css">

    </style>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>
  
  <body>  
<h1 id="session">Admin Session</h1>

    <hr>
      <form action="#">
        <fieldset>
        <legend>Student Information</legend>

            <label for="names">Names</label>
            <select id="names" name="names">
            </select>     

                       <label>In Game</label>
                       <p id= "inGameBox"></p>
                        <div>
               
                        </div>

            
            <br>
            <br>

          <input type="reset" name="reset" value="Clear Form">            
        </fieldset>
      <input id="readButton" type="button" value="Read" />
      <input id="deleteButton" type="button" value="Delete"/>

      </form>

<br>
<div id="logout">
    <input id="logout" type="button" value="Logout" />
</div>    

	<script src="js/adminsession.js"></script>
	
  </body>
</html>  
  
  
