body{
    background: url(back.png);
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-variant: small-caps;
}
input[type="button"],input[type="reset"],input[type="submit"]{
    background-color: #000000;
    color:#ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-variant: small-caps;
    border: 2px outset red;
    font-size: 1em;
}
input[type="button"]:disabled{
  background-color: #999999;
  color:#000000;
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  font-variant: small-caps;
  border: 2px outset red;
  font-size: 1em;
}
header {
    background-color:#000000;
    color:whitesmoke;
    font: 10px;
    border:#cc0000 5px outset;
    display: block;
    font-size: 2em;
    line-height: .5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    padding-inline-start: 0.5em;
    resize:none;
}

section{
    font-size: 20px;
    color:whitesmoke;
    border:#cc0000 5px outset;
    background-color: rgba(0, 0, 0, 0.3);
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    width: 500px;

}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
