body{
    background-color:#1e910f;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-variant: small-caps;
}

header {
    color: white;

    
    background-color:#914214;

    font: 10px;
    border-style: outset;
    border:#14912b 5px outset;
    border-width: 5px;
    display: block;
    font-size: 2em;
    margin-right: 100px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
}

section#playersettings{
    border:#14912b 5px outset;

    

    background-color:#914214;

}
section#gamesettings{
    border:#14912b 5px outset;

    
    background-color:#914214;

}
section#submit{
    border:#14912b 5px outset;

   
   
    background-color:#914214;

}
